@import url('https://fonts.googleapis.com/css2?family=Kanit&family=Oswald:wght@200;400&display=swap');
:root {
    --light-violet: rgb(242, 236, 255);
    --medium-violet: rgb(194, 184, 217);
    --dark-violet: rgb(139, 127, 166);
}

html, body {
    justify-content: center;
    align-items: center;
    background-color: #fff;
    overflow-x: hidden;
    margin: 0;
    padding: 0;
}

h1, h2, h3, h4, h5, h6, p {
    color: black;
    font-family: 'Oswald', sans-serif;
}

.logo-box {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0px !important;
}

.laptop {
    display: flex;
    height: 400px;
    margin-top: 280px;
    filter: drop-shadow(0px 0px 3.5px rgba(0,0,0,0.8));
}

.upperContainer {
    margin-top: 40px;
}

.pageContainer {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
}

.pageBox {
    display: flex;
    align-items: center;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    width: 100%;
}

.about-box {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100vh;
}

.page-text-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 50%;
    width: 100%;
    margin-left: 20px;
    padding-left: 40px;
}

.about-text-box {
    display: flex;
    flex-direction: column;
    height: 50%;
}

.page-inner {
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 75vh;
    width: 100%;
    background-color: var(--light-violet);
}

.blackText {
    color: black;
}

.fade-bg {
    position: fixed;
    display: flex;
    width: 100%;
    height: 120px;
    z-index: 2;
    background-color: white;
}

.framer {
    display: flex;
    align-items: center;
    width: 70%;
}

.description-align {
    display: flex;
}

.mobile-col-1 {
    display: flex;
    flex-direction: column;
}

.about1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 80vh;
    background-color: white;
}

.about2 {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 60vh;
    background-color: rgb(246 243 240);
}

.demo-box {
    display: flex;
    justify-content: center;
    width: 50%;
    height: 70%;
    border-radius: 10px;
    background-color: var(--medium-violet);
    overflow: hidden;
}

.cellphone {
    position: relative;
    top: 100px;
}

.grid-box {
    display: grid;
    width: 60%;
    height: 70%;
    gap: 20px;
    margin-top: 5px;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
}

.card-wrapper {
    display: flex;
}

.card-wrapper:hover .about-card {
    transform:rotateY(180deg) translateY(-2px);
}

.about-card {
    display: flex;
    flex-direction: row;
    position: relative;
    justify-content: center;
    align-items: center;
    width:100%;
    height: 100%;
    border-radius: 10px;
    transform: perspective(1000px);
    transform-style: preserve-3d;
    transition: all 0.5s linear;
}

.about-card h4{
    margin-top: 10px;
}

.about-card p{
    text-align: center;
}

.about-card.flip {
    --rotate-y: 180deg;
}

.about-card:hover {
    --translate-y: -2px;
    box-shadow: 0px 0px 5.5px var(--medium-violet);
}

.about-card .front {
    left: 0;
    border-radius: 10px;
    background-color: white;
    border: 2px solid var(--light-violet);
    box-shadow: 0px 0px 3.5px var(--light-violet);
}

.about-card .front, 
.about-card .back {
    display: flex;
    flex-direction: column;
    position: absolute;
    backface-visibility: hidden;
    justify-content: center;
    align-items: center;
    transition: 600ms;
    padding: 20px;
    width: 100%;
    height: 100%;
}

.about-card .back {
    transform: rotateY(180deg);
    background-color: var(--dark-violet);
    border-radius: 10px;
}

.back h4, .back p {
    color: white;
}

.back h4, .front h4 {
    font-size: 36px;
    text-emphasis: bold;
    letter-spacing: 1.2px;
}

.back p {
    font-size: 20px;
}

.icons {
    color: var(--medium-violet);
}

.spendingChart {
    display: flex;
    max-width: 1200px;
    max-height: 800px;
}

.footer {
    display: flex;
    width: 100vw;
    height: 50vh;
    padding: 40px;
    justify-content: baseline ;
    background-color: var(--dark-violet);
}

.contributors-list {
    list-style: none;
}

.contributors-list li {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.contributors-list li h3 {
    color: white;
    margin-left: 10px;
    margin-top: 10px;
}

.github-logo {
    width: 40px;
    color: white;
}

.header-text {
    font-family: 'kanit', sans-serif;
    text-align: start;
    text-wrap: nowrap;
    font-weight: 800;
}

.aboutText {
    font-family: 'kanit', sans-serif;
    text-align: start;
    font-weight: 800;
    font-size: 64px;
}

input:-webkit-autofill,
.my-class:-webkit-autofill {
    -webkit-text-fill-color: #fff;
    -webkit-transition-delay: 9999999s;
}

.cards {
    display: flex;
    flex-direction: column;
    background: transparent;
    align-items: center;
    justify-content: center;
    border-radius: 0.5rem;
    padding: 2.5rem;
}

.btn {
    background-color: #2F3E9E;
    color: #fff;
    border: none;
    height: 50px;
    width: 100%;
    max-width: 200px;
    margin: 1rem auto;
    display: block;
}

.btn:hover,
.btn:focus,
.btn:active {
    background-color: #3E8FD6;
}

.form-control {
    border: 2px solid #fff;
    margin: 5px;
}

.form-control>label {
    background-color: transparent;
    color: #ddd;
}

.form-control:focus {
    outline: 0;
    box-shadow: none;
}

.formBoxAlign {
    display: flex;
    width: 100vw;
    height: 100vh;
    background-color: var(--light-violet);
    justify-content: center;
    align-items: center;
}

.form {
    display: flex;
    flex-direction: column;
    background-color: white;
    width: 50%;
    padding: 60px;
    border-radius: 15px;
    border: 2px solid var(--medium-violet);
    box-shadow: 0px 0px 8px var(--medium-violet);
}

.formBoxHeader {
    font-family: 'oswald', sans-serif;
    letter-spacing: 1.2px;
    font-weight: 800;
    margin-bottom: 1rem;
}

.description-text {
    font-family: 'oswald', 'sans-serif';
    font-size: 22px;
    letter-spacing: 1.2px;
    text-align: start;
    color: #646464;
}

.aboutSubText {
    font-family: 'oswald', 'sans-serif';
    letter-spacing: 1.4px;
}

.tagline {
    font-family: 'kanit', sans-serif;
    margin-bottom: 1rem;
    text-align: center;
}

.transactionContainer {
    margin-top: 20px;
}

.transactionInner {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.error-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100vw;
    height: 100vh;
}

.error-body {
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 75vh;
    padding: 150px;
}

.error-body h1 {
    font-family: 'kanit', sans-serif;
    font-size: 100px;
    color: var(--dark-violet);
}

.error-body p {
    font-family: 'kanit', sans-serif;
    font-size: 80px;
}

.taglineBig {
    font-size: 40px;
}

.registerButtonBox {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px;
    margin-top: 20px;
}

.MuiButtonBase-root {
    font-family: 'Oswald', sans-serif !important;
    letter-spacing: 1.2px !important;
}

input:-webkit-autofill {
    -webkit-text-fill-color: black !important;
}

.MuiInputBase-input {
    color: black !important;
}

.registerPage {
    background: rgba(255, 255, 255, 0.1);
}

.registerHeader {
    font-family: 'oswald', sans-serif;
    letter-spacing: 1.2px;
    font-weight: 800;
}

.linkButtonAlign {
    text-align: center;
}


.registerPage {
    background: rgba(255, 255, 255, 0.1);
    border-radius: 1rem;
    padding: 2rem;
}

.form-control,
.form-floating>label {
    background-color: transparent;
    color: #afafaf;
}


.userpage {
    background: rgba(255, 255, 255, 0.1);
    border-radius: 1rem;
    padding: 2rem;
    margin: 100px auto;
    width: 50%;
}

.usertextbottom {
    padding: 10px;
    margin: 20px auto;
    text-align: center;
}

.formInputs {
    margin: 30px auto;
}

.white-text {
    color: white;
}

.contact-form {
    display: flex;
    flex-direction: column;
}

.contact-form h1 {
    color: #333;
    margin-bottom: 20px;
}

.contact-form .input-group {
    display: flex;
    gap: 10px;
    margin-bottom: 10px;
}

.contact-form input,
.contact-form textarea {
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    margin-bottom: 10px;
    width: 100%;
}

.contact-form textarea {
    resize: vertical;
}

.contact-form .send-btn {
    padding: 10px 20px;
    background: #5cb85c;
    border: none;
    border-radius: 4px;
    color: white;
    cursor: pointer;
    transition: background 0.3s ease;
}

.contact-form .send-btn:hover {
    background: #4cae4c;
}

.nav-link {
    display: block;
    text-align: center;
    margin-bottom: 10px;
    text-decoration: none;
    color: #333;
    font-weight: bold;
}

body {
    min-height: 100vh;
    background: var(--light-violet);
    padding: 0;
    color: #fff;
    width: 100vw;
    /* Default text color set to white for all child elements */
}

.sci {
    margin-top: 20px;
    display: flex;
}

.sci li {
    list-style: none;
}

.sci li a {
    display: flex;
    width: 40px;
    height: 40px;
    background: #fff;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
    text-decoration: none;
    border-radius: 4px;
    transition: all 0.3s ease;
}

.sci li a:hover {
    background: #7F2596;
    transform: translateY(-5px);
    /* Slight lift effect */
}

.sci li a .fa {
    color: #2F3E9E;
    font-size: 20px;
}

/* Hover effect for links */
.quickLinks ul li a,
.sec-contact ul li a,
.sec-contact ul li span {
    color: #fff;
    text-decoration: none;
    transition: all 0.3s ease;
    display: block;
    margin-bottom: 10px;
}

.quickLinks ul li a:hover,
.sec-contact ul li a:hover {
    color: #7F2596;
    padding-left: 5px;
    transform: scale(1.05);
    /* Scale up on hover */
}

.sec-contact ul li {
    display: flex;
    align-items: center;
}

.sec-contact ul li i {
    margin-right: 10px;
}

/*Dashboard page*/
.dashboard-container {
    display: flex;
    width: 100vw;
    height: 250vh;
    padding: 40px;
    padding-top: 120px;
}

.dashboard-grid {
    display: grid;
    width: 100%;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(12, 1fr);
    grid-column-gap: 20px;
    grid-row-gap: 20px;
}

.header-grid-box {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 40px;
    background-color: var(--dark-violet);
    grid-column: 1/13;
    box-shadow: 0px 0px 8px var(--medium-violet);
}

.header-greeting {
    display: flex;
    align-items: center;
}

.placeholder-img {
    display: flex;
    height: 100px;
    padding-right: 20px;
}

.dashboard-header {
    font-size: 48px;
    color: white;
}

.balance-grid-box {
    display: flex;
    flex-direction: column;
    background-color: #fff;
    padding: 40px;
    grid-column: 1/6;
    grid-row: 2/5;
    box-shadow: 0px 0px 8px var(--medium-violet);
}

.header-box {
    display: flex;
    width: 100%;
    justify-content: center;
    border-bottom: 1px solid rgba(169, 168, 168, 0.714);
}

.dashboard-list-text {
    font-family: 'oswald', sans-serif;
    color: black;
}

.sub-header {
    font-size: 36px;
    color: black;
    letter-spacing: 1.2px;
}

.map-container {
    display: flex;
    flex-direction: column;
    margin: 40px;
    border-bottom: 1px solid var(--light-violet);
}

.transactions {
    padding-bottom: 20px;
}

.income-text {
    font-family: 'oswald', sans-serif;
    font-size: 20px;
    color: rgb(76, 218, 119);
}

.expense-text {
    font-family: 'oswald', sans-serif;
    font-size: 20px;
    color: rgb(222, 34, 34);
}

.display-left {
    display: flex;
}

.transaction-icons {
    color: black;
    margin-right: 20px;
}

.income-icons {
    color: rgb(53, 193, 107);
    margin-right: 20px;
}

.transactions span {
    font-family: 'oswald', sans-serif;
}

.balances {
    padding: 20px;
}

.balance-header {
    font-family: 'oswald', sans-serif;
    color: black;
    letter-spacing: 1.2px;
}

.account-balance {
    text-align: center;
    font-family: 'oswald', sans-serif;
    font-size: 42px;
    color: black;
}

.transactions-grid-box {
    display: flex;
    flex-direction: column;
    background-color: white;
    padding: 40px;
    grid-column: 6/13;
    grid-row: 2/9;
    box-shadow: 0px 0px 8px var(--medium-violet);
}

.chart-grid-box {
    display: flex;
    flex-direction: column;
    background-color: white;
    padding: 40px;
    grid-column: 1/6;
    grid-row: 5/10;
    box-shadow: 0px 0px 8px var(--medium-violet);
}

.chart-align {
    display: flex;
    margin-top: 40px;
}

/*account page*/
.user-header {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 40px;
}

.user-details-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    border-bottom: 1px solid var(--light-violet);
}

.user-box-left {
    display: flex;
    align-items: center;
}

.user-details-box {
    display: flex;
    flex-direction: column;
    margin-left: 40px;
}

.accounts-map-box {
    display: flex;
}

.accounts-map-box p {
    margin-right: 40px;
}

.profile-image { 
    width: 130px;
    display: flex;
    border-radius: 50%;
    margin-right: 20px;
}

.update-picture-icon {
    position: relative;
    left: 90px;
    top: -130px;
}

.update-picture-icon:hover {
    cursor: pointer;
}

.modal-wrapper {
    position:           fixed;
    z-index:            500;
    background-color:   white;
    border:             1px solid #ccc;
    box-shadow:         1px 1px 1px black;
    padding:            40px 60px 40px 60px;
    left:               42%;
    top:                10%;
    box-sizing:         border-box;
    transition:         all 0.3s ease-out;
    border-radius:      10px;
}

.close-modal-btn {  
    cursor:     pointer;      
    font-size:  1.25rem;
    margin:     0;
    color: black;
}

.back-drop {
    width:              100%;
    height:             100%;
    position:           fixed;
    z-index:            100;
    left:               0;
    top:                0;
    background-color:   rgba(0,0,0,0.5);
  }

#contact {
    background-color: #2f3e9e0b;
    color: white;
    padding: 20px 20px 20px 20px;
    margin: 20px;
    border-radius: 10px;
    box-shadow: 0 6px 12px 0 rgba(0, 0, 0, 0.2), 0 6px 8px 0 rgba(0, 0, 0, 0.19);
}

#contact h1 {
    text-align: center;
    font-size: 40px;
    font-weight: 700;
    margin-bottom: 20px;
}

#contact p {
    text-align: center;
    font-size: 15px;
    font-weight: 200;
    margin-bottom: 20px;
}

.sec.developers {
    padding-left: 100px;

}

/* Breakpoints */
@media (min-width:320px) { 
    /* smartphones, portrait iPhone, portrait 480x320 phones (Android) */
    .page-inner {
        padding-top: 70px;
    }
    
    .page-text-box {
        padding: 0;
        margin: 0;
        align-items: start;
    }
    
    .header-text {
        font-size: 22px;
    }

    .description-text {
        font-size: 14px;
    }

    .laptop {
        display: none;
    }

    .cellphone-hide {
        display: flex;
        width: 260px;
        margin-top: 20px;
    }

    .framer {
        flex-direction: column;
    }

    .grid-box {
        height: 90%;
        width: 90%;
        gap: 5px;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(3, 1fr);
    }

    .about-card .front {
        padding: 8px;
    }

    .front h4, .back h4 {
        font-size: 16px;
    }

    .back p {
        font-size: 16px;
    }

    .about-align {
        display: flex;
    }

    .demo-box {
        display: none;
    }
  }
  @media (min-width:480px) { 
    /* smartphones, Android phones, landscape iPhone */  
    
  }
  @media (min-width:600px) { 
    /* portrait tablets, portrait iPad, e-readers (Nook/Kindle), landscape 800x480 phones (Android) */ 
    
  }
  @media (min-width:801px) { 
    /* tablet, landscape iPad, lo-res laptops ands desktops */ 
    
  }
  @media (min-width: 900px) {

  }
  
  @media (min-width:1025px) { 
    /* big landscape tablets, laptops, and desktops */ 

  }
  @media (min-width:1281px) { 
    /* hi-res laptops and desktops */ 

  }